:root{
  --green: #07AB80;
  --grey: #5B636E;
  --white: #F8F8F8;
  --light-grey: #E5E5E5;
}

header{
  font-family: 'Goblin One', cursive;
}



.bg-green{
  background-color:#07AB80;
}

.bg-light-grey{
  background-color: #E5E5E5;
}

.bg-white{
  background-color:#F8F8F8;
}

.bg-grey{
  background-color:#5B636E;
}

.text-grey{
  color: #5B636E;
}

.text-green{
  color: #07AB80;
}

.green-rectangle{
  position: absolute;
width: 8px;
height: 93px;
left: 567px;
top: 189px;

background: var(--green);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.move-outside-card{
  transform:translateY(20%);
}


.background-image{
  height:70vh;
  width:100vw;
  
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8rdBRyG7ARyW09rDvrB8ql_ebmXm6JNQYuw&usqp=CAU");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon-card{
  position: absolute;


background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 2px;
}

.crush-description{
  transform:translateY(20%);
}

.card-border{
  border-color:#F8F8F8;
}

.card-row-height{
  height: 50vh;
}

.hidden-text{

  @media(max-width:576px)
  {
    .hidden-text{

      {
        display:none;
      }
    }
  }
}
